<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ruige International Trading Co.,-contact us</title>
    <meta name="keywords" content="contact Ruige" />
    <meta
      name="description"
      content="contact Ruige we will get back to you within 24 hours"
    />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/resect.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      sizes="any"
      href="img/r.svg"
    />
    <link rel="icon" sizes="any" href="img/r.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <%- include('head') %>
    <div class="top">
      <h1>Keep in touch with us!</h1>
      <ul>
        <li>
          <img alt="contact" src="img/center1.jpg" />
          <h2>Adress:</h2>
          <span>China Hebei Shijiazhuang </span>
        </li>
        <li>
          <img alt="contact" src="img/center1.jpg" />
          <h2>Email:</h2>
          <span>liulijie@rayvet.cn</span>
        </li>
        <li>
          <img alt="contact" src="img/center1.jpg" />
          <h2>Tel:</h2>
          <span>0311-67590169 </span>
        </li>
        <li>
          <img alt="contact" src="img/center1.jpg" />
          <h2>Phone:</h2>
          <span>+86 15130058651 </span>
        </li>
      </ul>
    </div>
    <div class="top1"></div>
    <%- include('form') %> <%- include('foot') %>
  </body>
</html>
