<!DOCTYPE html>
<html>
  <head>
    <title>Ruige International Trading Co.,pet medical service</title>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="veterinary medical service,pet medical service, "
    />
    <meta
      name="description"
      content="Ruige provide zhe best service for veterinary medical products "
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="css/resect.css" />
    <link rel="stylesheet" href="css/public.css" />
    <link rel="stylesheet" href="css/service.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      sizes="any"
      href="/img/r.svg"
    />
    <link rel="icon" sizes="any" href="/img/r.svg" />
  </head>
  <body>
    <%- include('head') %>
    <div class="s-top"></div>
    <div class="s-top1"></div>
    <div class="s-content">
      <h1>
        <img alt="service" src="img/smallservice.jpg" />
        <p>SERVICE</p>
      </h1>
      <i
        >We are always speeding up our response to maintenance service requests
        through the use of cutting-edge technology.</i
      >
      <div class="service-detail">
        <ul>
          <li>
            <img alt="Remote Technical Support" src="img/computer.jpg" />
            <span>
              <h2>Remote Technical Support</h2>
              <p>
                The RUIGE Technical Support Center provides real-time equipment
                breakdown protection by using information-based remote technical
                support.solutions are provided at the earliest time possible
              </p>
            </span>
          </li>
          <li>
            <img alt="Certification of Engineer" src="img/egnier.jpg" />
            <span>
              <h2>Certification of Engineer</h2>
              <p>
                All RUIGE engineers have received systematic training and are
                professionally certified after completing strict assessment
                procedures. professional and reliable equipment installation,
                maintenance, and technical support services can be guaranteed.
              </p>
            </span>
          </li>
          <li>
            <img alt="Stock of Spare Parts" src="img/bus.jpg" />
            <span>
              <h2>Stock of Spare Parts</h2>
              <p>
                We are exploiting our advantage of being an original
                manufacturer by ensuring that a full set of key spare parts are
                immediately available and that a stock of full-range spare parts
                are on hand.
              </p>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="s-advantage">
      <h1>
        <img alt="TRAINING" src="img/education.jpg" />
        <p>TRAINING</p>
      </h1>
      <i
        >We provide customers with timely, professional and efficient training
        services through our Centers for Technical Support</i
      >
      <ul>
        <li>
          <img
            alt="Training for maintenance engineers"
            src="img/learnone.jpg"
          />
          <h2>Training for maintenance engineers</h2>
          <p>
            We can help customers train their own team of on-site maintenance
            engineers step by step through intensive HQ, on-site and remote
            training.
          </p>
        </li>
        <li>
          <img
            alt="Training courses for client doctors"
            src="img/learntwo.jpg"
          />
          <h2>Training courses for client doctors</h2>
          <p>
            We help customers improve their clinical application skills through
            intensive training combined with customized and progressive on-site
            training.
          </p>
        </li>
      </ul>
    </div>
    <%- include('foot') %>
  </body>
</html>
