.new-list-top {
  width: 100%;
  height: 300px;
  background: url("https://www.rayvet.cn/cdn-product/fourcat.jpg");
  background-size: 100% 100%;
}
.news_list_content {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding-bottom: 100px;
}

.news_list_content .top_news {
  width: 90%;
  max-width: 1000px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  margin: auto;
  margin-top: -3rem;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
}

.news_list_content > a {
  text-decoration: none;
  display: block;
}

.news_list_content > a:hover {
  perspective: 1800px;
  transform: translate3D(0, -1px, 0) scale(1.02);
  transition: all 0.5s ease;
}
.news_list_content > a:active {
}
.news_list_content .top_news .left_img {
  width: 60%;
  height: 320px;
}

.news_list_content .top_news .right_content {
  width: 40%;
  height: 320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}

.news_list_content .top_news .right_content .right_content_header {
  width: 100%;
  max-height: 100px;
  line-height: 30px;
  font-size: 25px;
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
}

.news_list_content .top_news .right_content .right_content_content {
  width: 100%;
  flex: 1;
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  color: #15171a;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_list_content .top_news .right_content .right_content_time {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: #738a94;
}

.news_list_content ul {
  max-width: 1000px;
  width: 90%;
  overflow: auto;
  margin: auto;
  margin-top: 30px;
  padding:10px;
}

.news_list_content ul a {
  text-decoration: none;
  display: block;
  width: 30%;
  margin-left: 5%;
  float: left;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
  background: #ffffff;
}

.news_list_content ul a:hover {
  perspective: 1800px;
  transform: translate3D(0, -1px, 0) scale(1.02);
  transition: all 0.5s ease;
}

.news_list_content ul li {
  border-radius: 5px;
  width: 100%;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
}

.news_list_content ul a:nth-child(3n + 1) {
  margin-left: 0;
}

.news_list_content ul li .news_img {
  width: 100%;
  height: 200px;
}
.news_list_content ul li .news_content {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news_list_content ul li .news_content .news_content_title {
  width: 100%;
  max-height: 120px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #151714;
}
.news_list_content ul li .news_content .news_content_content {
  width: 100%;
  flex: 1;
  font-size: 16px;
  line-height: 22px;
  color: #15171a;
  font-weight: 300;
  box-sizing: border-box;
  margin: 10px 0;
  font-family: Georgia, Helvetica, Tahoma, Arial, STXihei, serif;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.news_list_content ul li .news_content .news_content_time {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: #738a94;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .news_list_content ul a {
    text-decoration: none;
    display: block;
    width: 45%;
    margin-left: 5%;
    cursor: pointer;
    background: #ffffff;
  }
  .news_list_content ul a:nth-child(2n + 1) {
    margin-left: 0;
  }

  .news_list_content .top_news .left_img {
    height: 250px;
  }

  .news_list_content .top_news .right_content {
    height: 250px;
  }

  .news_list_content .top_news .right_content .right_content_header {
    font-size: 18px;
    line-height: 22px;
  }

  .news_list_content .top_news .right_content .right_content_content {
    font-size: 14px;
    line-height: 16px;
  }
  .news_list_content ul li .news_content .news_content_title {
    font-size: 18px;
    line-height: 22px;
  }
  .news_list_content ul li .news_content .news_content_content {
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .news_list_content ul a {
    text-decoration: none;
    display: block;
    width: 100%;
    margin-left: 0%;
    cursor: pointer;
  }
  .news_list_content ul a:nth-child(2n + 1) {
    margin-left: 0;
  }
  /* .news_list_content .top_news .left_img {
    height: 250px;
    margin-top: -1rem;
  } */
  .news_list_content ul li {
    max-width: 400px;
    margin: 0 auto;
  }

  .news_list_content .top_news .right_content {
    height: 250px;
  }
  .news_list_content .top_news .right_content .right_content_header {
    font-size: 18px;
    line-height: 22px;
  }

  .news_list_content .top_news .right_content .right_content_content {
    font-size: 14px;
    line-height: 16px;
  }

  .news_list_content ul li .news_content {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news_list_content .top_news {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: auto;
    margin-top: -3rem;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
  }

  .news_list_content .top_news .left_img {
    height: 250px;
    margin-top: -1rem;
    width: 100%;
    height: 10rem;
    border-radius: 8px;
  }

  .news_list_content .top_news .right_content {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
  }

  .news_list_content .top_news .right_content .right_content_header {
    font-size: 20px;
    line-height: 25px;
  }

  .news_list_content .top_news .right_content .right_content_content {
    font-size: 16px;
    line-height: 20px;
  }

  .news_list_content ul li .news_content .news_content_title {
    width: 100%;
    max-height: 120px;
    font-weight: 700;
    -webkit-line-clamp: 2;
    font-size: 18px;
    line-height: 22px;
  }

  .news_list_content ul li .news_content .news_content_content {
    width: 100%;
    flex: 1;
    color: #15171a;
    font-weight: 300;
    display: inline-block;
    overflow: hidden;
    margin: 10px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
